.wrapper {
  height: 250px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--zmp-theme-color);
  .avatar {
    height: auto;
    width: 100px;
    padding: 15px;
  }
  .text-zone {
    padding: 0px 15px;
    text-align: center;
  }
}
