.wrapper {
  height: 250px;
  background-color: var(--zmp-theme-color);
  border-radius: 10px;
  &-form {
    align-items: center;
  }
}
.wrapper .avatar-image {
  display: flex;
  justify-content: center;
}
